<footer class="text-center">
<span><small>2020 - Rogarden - Designed by Airgonomike</small></span>
<span><a href="https://www.linkedin.com/in/brogowski" style="font-family: Arial, sans-serif; font-size: 10px;" target="_blank">
	<i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>

	<span><a href="mailto:bastien.rogowski@gmail.com?Subject=[Rogarden Request]" style="font-family: Arial, sans-serif; font-size: 10px;"><i class="fa fa-google" aria-hidden="true"></i></a></span>
</footer>